/* STYLE RESET */
/* СБРАСЫВАНИЕ СТАНДАРТНЫХ СТИЛЕЙ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


img {

    object-fit: cover;
    display: block;
    max-width: 100%;

}

/* СБРАСЫВАНИЕ СТАНДАРТНЫХ СТИЛЕЙ */

/* MAINTANCE */
/* ТЕХНИЧЕСКИЙ КОД (ДЛЯ ОБЩИХ ТЕГОВ ТИПА body button И ТД..) */

body {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;

}


/* ТЕХНИЧЕСКИЙ КОД (ДЛЯ ОБЩИХ ТЕГОВ ТИПА body button И ТД..) */

/* КОНТЕНТ */

.title {

    font-size: 40px;
    text-align: center;

}

.header {

    padding: 30px 0 150px;

}

/* КАРТОЧКА С ПОЛЕЗНОЙ ИНФОРМАЦИЕЙ */

/* ОБЁРТКА */
.useful-information {

    border-left: 3px solid #992828;
    padding: 30px 30px 30px 15px;
    background: #EBEAEA;
    max-width: 710px;
    width: 100%;

}
/* ОБЁРТКА */

/* ТЕКСТ КАРТОЧКИ */
.useful-information__text {

    line-height: 27px;
    max-width: 660px;
    width: 100%;
}

/* ТЕКСТ КАРТОЧКИ */

/* ЖИРНЫЙ ТЕКСТ В НАЧАЛЕ */

.strong__text {

    font-weight: 700;

}

/* КАРТОЧКА С ПОЛЕЗНОЙ ИНФОРМАЦИЕЙ */

/* КАРТОЧКА С ОФОРМЛЕНИЕМ */

/* ОБЁРТКА */

.decoration-wrp {
    /* Этот отступ сделал для того что бы отделить карточку от другой */
    margin-top: 50px;
    /* Этот отступ сделал для того что бы отделить карточку от другой */
    background: #F4F2E5;
    padding: 30px 15px 30px 20px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 3px solid black;
    max-width: 700px;
    width: 100%;

}

/* ЗАГОЛОВОК КАРТОЧКИ */

.decoration-wrp__title {

    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

/* ЗАГОЛОВОК КАРТОЧКИ */

/* КОНТЕНТ КАРТОЧКИ */
    .decoration-content-wrp__item {

        max-width: 190px;
        width: 100%;

    }

    /* ЗАГОЛОВОК КОНТЕНТА */
    .content__title {

        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        color: #D3D1BF;
        display: flex;
        align-items: flex-end;
    }
    .content__title_2 {

        max-width: 130px;
        width: 100%;

    }
    /* ЗАГОЛОВОК КОНТЕНТА */



    /* НОМЕР КОНТЕНТА */
    .content__number {

        font-size: 50px;
        width: 50px;
        height: 50px;
        text-align: end;
        font-weight: 500;
        color: #E36628;
        margin-right: 10px;
        /* ПОЛОСКИ ФОНА ДЛЯ НОМЕРА */
        background: repeating-linear-gradient(
            -45deg,
            #CBC9B8,
            #CBC9B8 2px,
            #F4F2E5 2px,
            #F4F2E5 5px
        );
        /* ПОЛОСКИ ФОНА ДЛЯ НОМЕРА */
    }
    /* НОМЕР КОНТЕНТА */

    /* ТЕКСТ КОНТЕНТА */

    .decoration-content__text {

        font-size: 14px;
        margin-top: 20px;
        max-width: 190px;
        width: 100%;

    }

    @media (max-width: 767.99px) {
        
        /* Отступ для контента на разрешении 768px */
        .decoration-content-wrp__item:not(:last-child) {

            margin-bottom: 20px;

        }

    }

    /* ТЕКСТ КОНТЕНТА */

/* КОНТЕНТ КАРТОЧКИ */

/* ОБЁРТКА */

/* КАРТОЧКА С ОФОРМЛЕНИЕМ */

/* КАРТОЧКА "КАК МЫ РАБОТАЕМ" */

    /* ОБЁРТКА КАРТОЧКИ */

    .working {
        /* ОТСТУП ЧТО-БЫ РАЗДЕЛИТЬ КАРТОЧКИ ЕГО МОЖНО УБРАТЬ */
        margin-top: 50px;
        /* ОТСТУП ЧТО-БЫ РАЗДЕЛИТЬ КАРТОЧКИ ЕГО МОЖНО УБРАТЬ */
        background: #EEEEEE;
        padding: 30px 15px;
        max-width: 700px;
        width: 100%;
    }

    /* ОБЁРТКА КАРТОЧКИ */

    /* ЗАГОЛОВОК КАРТОЧКИ */

    .working__title {

        font-size: 40px;
        text-transform: uppercase;
        font-weight: 500;
        color: #505050;
        margin-bottom: 20px;
        text-align: center;
    }

    /* ЗАГОЛОВОК КАРТОЧКИ */

    /* КОНТЕНТ КАРТОЧКИ */

    .working-content-wrp__item {

        position: relative;
        max-width: 103px;
        width: 100%;

    }

    .working-content-wrp__item:not(:last-child)::after {

        content: '';
        /* ЗДЕСЬ МОЖНО ПОМЕНЯТЬ ИЗОБРАЖЕНИЕ СТРЕЛОЧКИ  */
        background: url('../img/working-arrow.svg') no-repeat;
        /* ЗДЕСЬ МОЖНО ПОМЕНЯТЬ ИЗОБРАЖЕНИЕ СТРЕЛОЧКИ  */
        width: 22px;
        height: 40px;
        display: block;
        position: absolute;
        top: 15%;
        right: -50%;

    }

    /* ТЕКСТ КАРТОЧКИ */

    .working-content-wrp__text {

        font-size: 14px;
        max-width: 100px;
        width: 100%;
        text-align: center;
        margin-top: 20px;

    }

    @media (max-width: 767.99px) {
        
        .working-content-wrp__item:not(:last-child) {

            margin-bottom: 60px;
    
        }

        /* ПРАВИЛО ДЛЯ СТРЕЛКИ. ЕЁ ПОВОРОТ И ПОЗИЦИЯ СНИЗУ */
        .working-content-wrp__item:not(:last-child)::after {

            content: '';
            /* ЗДЕСЬ МОЖНО ПОМЕНЯТЬ ИЗОБРАЖЕНИЕ СТРЕЛОЧКИ  */
            background: url('../img/working-arrow.svg') no-repeat;
            /* ЗДЕСЬ МОЖНО ПОМЕНЯТЬ ИЗОБРАЖЕНИЕ СТРЕЛОЧКИ  */
            width: 22px;
            height: 40px;
            display: block;
            position: absolute;
            transform: rotate(90deg);
            top: 100%;
            right: 40%;
            margin-bottom: 30px;
            
    
        }

         /* ПРАВИЛО ДЛЯ СТРЕЛКИ. ЕЁ ПОВОРОТ И ПОЗИЦИЯ СНИЗУ */

    }

    /* ТЕКСТ КАРТОЧКИ */

    /* КОНТЕНТ КАРТОЧКИ */

/* КАРТОЧКА "КАК МЫ РАБОТАЕМ" */

/* КАРТОЧКА О КАЧЕСТВЕ */
    /* ОБЁРТКА КАРТОЧКИ */
    .quality {
        /* Отступ что-бы разделить карточки, можно убрать */
        margin-top: 30px;
        /* Отступ что-бы разделить карточки, можно убрать */
        background: #FFFDC7;
        padding: 30px 15px;
        max-width: 580px;
        width: 100%;

    }
    /* ОБЁРТКА КАРТОЧКИ */

    /* Колокольчик */

    .quality__img {

        width: 40px;
        height: 40px;
        margin-right: 20px;

    }

     /* Колокольчик */

    /* ТЕКСТ КАРТОЧКИ */

    .quality__text {

        max-width: 500px;
        width: 100%;
        line-height: 27px;

    }

    /* ТЕКСТ КАРТОЧКИ */
/* КАРТОЧКА О КАЧЕСТВЕ */

/* КАРТОЧКА ПРО ОТХОДЫ */

    /* ОБЁРТКА КАРТОЧКИ */

    .accept {
        /* ОТСТУП ОТ ДУГОЙ КАРТОЧКИ МОЖНО УБРАТЬ */
        margin-top: 30px;
        /* ОТСТУП ОТ ДУГОЙ КАРТОЧКИ МОЖНО УБРАТЬ */
        background: #D9FEBD;
        padding: 30px 15px;
        max-width: 580px;
        width: 100%;

    }

    /* ОБЁРТКА КАРТОЧКИ */

    /* ИЗОБРАЖЕНИЕ КАРТОЧКИ "ГАЛОЧКА" */

    .accept__img {

        margin-right: 20px;

    }

     /* ИЗОБРАЖЕНИЕ КАРТОЧКИ "ГАЛОЧКА" */

    /* ТЕКСТ КАРТОЧКИ */

    .accept__text {

        max-width: 550px;
        width: 100%;
        line-height: 27px;

    }

    /* ТЕКСТ КАРТОЧКИ */

/* КАРТОЧКА ПРО ОТХОДЫ */

/* КАРТОЧКА ПРО ДНО ))) */

    .message-bottom {
        /* ОТСТУП ОТ ДРУГОЙ КАРТОЧКИ МОЖНО УБРАТЬ */
        margin-top: 30px;
        /* ОТСТУП ОТ ДРУГОЙ КАРТОЧКИ МОЖНО УБРАТЬ */
        background: #F8F8F8;
        max-width: 580px;
        width: 100%;
        padding: 30px 35px;

    }

/* КАРТОЧКА ПРО ДНО ))) */

    /* ИЗОБРАЖЕНИЕ КАРТОЧКИ */

    .message-bottom__img {

        width: 40px;
        height: 38px;
        margin-right: 20px;
    }

     /* ИЗОБРАЖЕНИЕ КАРТОЧКИ */

     /* ТЕКСТ КАРТОЧКИ */

    .message-bottom__text {

        max-width: 560px;
        width: 100%;
        line-height: 27px;

    }

      /* ТЕКСТ КАРТОЧКИ */

/* КОНТЕНТ */